<h1>Posts#index</h1>

<div class="text-right">
  <%= react_component 'Clock' %>
</div>

<%= react_component 'Posts', {posts: ActiveModel::ArraySerializer.new(@posts, each_serializer: PostSerializer)}.to_json, {prerender: true} %>
