
  <div class="rooms">
    <ul>
      <% @rooms.each do |room| %>
        <li><%= link_to room.name, room_path(id: room.id) %>
      <% end %>
    </ul>
  </div>

  <%= react_component 'Room', {room: @room} %>
